:root {
  --text-site: 25px;
  --text-grey: #4d4d4d;
  --table-highlight: #dddddd;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial;
  background: white;
  margin: 0;
  padding: 0;
}
footer{
  text-align: center;
}

h1 {
  color: var(--text-grey);
  padding: 30px 0 10px 0;
  text-align: center
}
h2 {
  color: var(--text-grey);
  text-align: center
}

p {
  color: var(--text-grey);
  font-size: var(--text-site);
}

/* ------- Nav-Bar  ------- */
#navtest{
display: flex;
height: 100%;
margin: auto;
}
nav{
  position: fixed;
  height: 79px;
  background-color: #404040;
  opacity: 0.85;
  position: fixed;
  width: 100%;
  top:0;
  right: 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
#nav-backg{
  background: black;
  height: 79px;
}
#logo a{
float: left;
padding: 25px;
color: white;
text-decoration: none;
font-size: var(--text-site);
}


ul {
    margin: 0;
    padding: 0;
   
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }
  
  li {
    list-style-type: none;
    display:inline-block;
  }
  
  li a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: var(--text-site);
    offset: 79px;
  }
  li button {
    display:inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  /* ------- Hero  ------- */

.hero h1 {
  font-weight: bold;
  color: #dddddd;
}


.hero p {
  font-weight: bold;
  color: #dddddd;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 500px;
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  right: 0;
}



  /* ------- Elemente  ------- */

.trenner{
  width: 100%;
  border: 1px solid #dddddd;

}

#center-Box{
  margin-top: 10px;
  width: 80%;
  margin: 5px auto;
  background: white;
  padding: 20px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

 /* ------- Tabellen  ------- */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px solid var( --table-highlight);
  text-align: left;
  padding: 8px 40px 8px 40px;
  color: #4d4d4d;
  font-size:var(--text-site);
}

tr:nth-child(even) {
  background-color:  var( --table-highlight);
}

 /* ------- Responsiv  ------- */

@media only screen and (max-width:1000px) {
  /* For tablets: */
  .hero {
    width: 100%;
    padding: 0;
  }
  #center-Box{
    width:100%;
    padding: 20px 0px;
  }
  ul{
    height: 45px;
  }
  #logo a,li a{
    padding: 12px;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .hero{
    width: 100%;
    height: 10%;
  }
  #center-Box{
    width:100%;
    padding: 20px 0px;
  }
}
